#mainNavbar {
	background: #E6E7E9;
	border: 2px dotted lightgray;
	height: 40px;
}

.nav-item {
	font-family: 'Lato', sans-serif;
	color: gray;
	font-weight: 350;
	font-size: 12px;
}

li .nav-link {
	color: #9a9a9a;
	font-family: 'Arial' 'Helvetica' sans-serif;
}

li .nav-link:hover {
	color: #325A76;
}
.navbar-brand {
	color: #4e6779;
	font-weight: 700;
	font-family: 'Times New Roman';
	font-size: 18px;
	display: block;
	letter-spacing: 1px;
}

#menuNavbar .nav-link {
	font-weight: 750;
	font-size: 16px;
	color: black;
}
#menuNavbar .active {
	font-weight: 750;
	font-size: 15px;
	color: #0BA39C;
}
#menuNavbar .nav-link:hover {
	color: #0BA39C;
}

#menuNavbar a {
	padding: 0 20px;
}

.navbar-brand:hover {
	color: #000000;
}

.logo {
	margin: 50px;
}

#logodiv {
	text-align: center;
	padding-top: 40px;
}

#picturediv {
	margin-top: 50px;
	width: 100%;
}

li img {
	border: 2px solid black;
	margin: 0 7px;
	margin-bottom: 30px;
}

.featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	widows: 100%;
	display: block;
}

/* Make the image responsive */
#mainimg {
  width: 100%;
  height: auto;
  margin: auto;
}

.text {
	left: 50%;
	margin-left: -480px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: left;
	width: 490px;
	box-sizing: initial;
  /*position: fixed;
  bottom: 100px;
  right: 20px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;*/
}

h2 {
	background: #fff;
	color: #000;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Merriweather', serif;
	margin: 0 0 18px;
	padding: 21px 35px 20px;
	text-align: left;

	/*background-color: white;
	text-decoration-color: black;
	font-size: 19px;
	font-weight: 400;
	width: auto;
	padding: 22px;
	margin-right: 50px;
	margin-bottom: 10px;
	
	display: inline-block;
	position: relative;*/
}

.text span {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-weight: 400;
	margin: 7px 0;
	padding: 12px 27px;
	text-align: left;
	line-height: 1.1;
	letter-spacing: 0.005em;
}

.btn {
	background-color: #0BA39C;
	color: white;
	font-weight: 350;
	font-family: 'Arial', 'Helvetica', sans-serif;
	padding: 20px;
	margin: 15px 0;
	border-radius: 0px;
}

.container-fluid {
  position: relative;
  /*width: 100%;*/
  /*overflow: hidden;*/
  margin: 0;
  display: block;
  padding: 0;
}

.container-fluid .btn:hover {
  background-color: #1FC3BC;
}
.container-fluid p {
	font-size: 14px;
	font-weight: 450;
}

ul {
	list-style: none;
	align-items: center;
}

.profilepics {
	display: inline-block;
	font-size: 17px;
}

#profilediv {
	text-align: center;
	margin-top: 40px;
}

#footer i {
	color: white;
	padding: 3px;
	margin: 2px;
	border: 2px solid #252525;
	float: right;
}

#footer i:hover {
	border: 2px solid white;
}

#footer p {
	color: white;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
	display: block;
	text-align: left;
}

#footer {
	background-color: #252525;
	height: 120px;
	margin-bottom: 40px;
	color: white;
	margin: 0 auto;
	justify-content: center;
	position: relative;
  	width: 960px;
  	overflow: hidden;
  	display: block;
}

li p {
	text-transform: uppercase;
	font-size: 18px;
}

@media (max-width: 600px) {
    h2 {
        font-weight: 100;
        font-size: 0.75rem;
        padding: 10px;
        width: 30%;
        overflow: auto;
    }
    .text span {
        font-size: 0.75rem;
    }
}
